{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <form action="{{ url_for('history') }}" method="get">
        <fieldset>
            <div class="form-group">
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Quote</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                    {% for share in portfolio %}
                    <tr>
                        <td name = "date">{{ share.date }}</td>
                        <td name = "symbol"> {{ share.symbol }} </td>
                        <td name = "name">{{ share.name }}</td>
                        <td name = "price">{{ share.price }}</td>
                        <td name = "quantity">{{ share.quantity }}</td>
                        <td name = "action">{{ share.action }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </fieldset>
    </form>
{% endblock %}